<div>
  <section class="intro">
    <div class="image">
      <img src="/assets/images/me.jpg" alt="Jeet Prakash">
    </div>
    <div class="name">
      Jeet Prakash
    </div>
    <div class="info">
        <div class="title">Full Stack Developer</div>
        <div class="tech">Java 8,  Spring 5, Spring Boot 2, Hibernate 5, J2EE, Angular 5, Ionic, PhoneGap</div>
    </div>
  </section>
  <section class="nav">
    <nav>
      <ul>
        <a href="/"><li>Posts</li></a>
        <a href="/"><li>Catagories</li></a>
        <a href="/about-me"><li>About Me</li></a>
      </ul>
    </nav>
  </section>
  <section class="social-media">
    <ul>
      <li><a href="https://twitter.com/jeetprksh" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/jeetprakash/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="https://github.com/jeetprksh" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://in.pinterest.com/jeetprksh" target="_blank"><i class="fab fa-pinterest"></i></a></li>
    </ul>
  </section>
</div>